asgiref==3.8.1
bs4==0.0.2
contourpy==1.2.1
cycler==0.12.1
distlib==0.3.9
Django==5.0.6
djangorestframework==3.15.2
et-xmlfile==1.1.0
filelock==3.16.1
fonttools==4.53.0
graphviz==0.20.3
kiwisolver==1.4.5
lxml==5.2.2
matplotlib==3.9.0
mysql-connector-python==8.4.0
numpy==1.26.4
openpyxl==3.1.2
packaging==23.2
pandas==2.2.2
pillow==10.2.0
platformdirs==4.3.6
plotly==5.22.0
psycopg2==2.9.9
pygraphviz==1.13
pyparsing==3.1.2
Pyro5==5.15
python-dateutil==2.9.0.post0
pytz==2024.1
pywin32==306
scipy==1.14.0
seaborn==0.13.2
serpent==1.41
six==1.16.0
sqlparse==0.5.0
tenacity==8.3.0
tzdata==2024.1
virtualenv==20.26.2
virtualenvwrapper-win==1.2.7
wcwidth==0.2.13
webencodings==0.5.1
windows-curses==2.3.3
